<nav>
  <ul class="tabs">
   <li class="utab"><%= link_to "home", user_root_path %></li>
   <li class="utab"><%= link_to "profile", user_root_path %></li>
   <li class="utab"><%= link_to "cook book", favorites_path %></li>
   <li class="utab"><a rel="Contacts" href="#contacts">contacts</a></li>
   <li class="utab"><a rel="recipes" href="#recipes">Forum</a></li>  
 </ul>
</nav>