<nav>
  <ul class="tabs">
   <li class="utab home_link"><%= link_to "home", "#/home" %></li>
   <li class="utab profile_link"><%= link_to "profile", "#/profile" %></li>
   <li class="utab search_link"><%= link_to "Search", "#/recipes" %></li>  
 </ul>
</nav>
