%h3 Recipes
- recipes = current_user.recipes
- if recipes.empty?
	%p No recipes
- else
	%ul
		- recipes.each do |recipe|
			%li= link_to recipe.name, recipe_path(recipe)

%p= link_to("Add a recipe", new_recipe_path)