<section>
	<div id="search">
		<%= form_tag recipes_path, :method => "get" do %>
		  <div id="input_q" class="input-search"> 
		    <%= text_field_tag :search, params[:search], :placeholder => "Search for what you want to cook...", :size => 24, :id => "q", :class => "reset"  %>
		  </div>
		  
		  <div id="input_w" class="input-search">
		    <%= text_field_tag :without, params[:without], :placeholder => "Without",  :size => 28, :id => "w", :class => "reset" %>
		  </div>
		  
		  <div id="button_search">
		    <%= submit_tag "Find", :name => nil, :class => "_submit" %>
			</div>
		<% end %>

		<a href="#/recipes/new"><input id="button_add" type="submit" class="_submit" value="Add a Recipe" /></a>
	</div>
</section>
