<%= render "recipe_search" %>

<div id="content">
	<%= render "nav" %>
  
	<div class="tab_container">
		<div id="home" class="tab_content"></div>
		<div id="profile" class="tab_content"></div>
		<div id="cookbook" class="tab_content"></div>
		<div id="contacts" class="tab_content"></div>
		<div id="forum" class="tab_content"></div>
		<div id="recipes" class="tab_content">
			<div id="filter">
				<div class="searched_name"><span class="title">You searched :</span></div>
					<ul>
						<li>Ta mere<div class="remove_search"></div></li>
						<li>Ta mere<div class="remove_search"></div></li>

					</ul>
				<div class="searched_without"><span class="title">without :</span></div>
					<ul>
						<li>Ton pere<div class="remove_search"></div></li>
					</ul>
				<div class="searched_with"><span class="title">but with :</span></div>
					<ul>
						<li>Ta soeur<div class="remove_search"></div></li>
					</ul>
			</div>	

			<div id='carousel_container'>  
  				<div id='left_scroll'><img src='/images/left.png'  height= "30px" width="30px"/></div>  
  				<div id='carousel_inner'>  
		    		<ul id='carousel_ul'> 

		   			</ul>  
				</div>  
  				<div id='right_scroll'><img src='/images/right.png' height= "30px" width="30px"/></div>  
			</div>  
		</div>
	</div>
</div>

<div id="inner_content"></div>
