<%= render "recipe_search" %>

<div id="content">
	<%= render "nav" %>
  
	<div class="tab_container">
		<div id="home" class="tab_content"></div>
		<div id="profile" class="tab_content"></div>
		<div id="cookbook" class="tab_content"></div>
		<div id="contacts" class="tab_content"></div>
		<div id="forum" class="tab_content"></div>
		<div id="recipes" class="tab_content"></div>
	</div>
</div>

<div id="inner_content"></div>