<section id="content">
	<div id="presentation">
		<div id="signin">
			<div id="formbox">
			  <%= link_to "Sign in", new_user_session_path %>
			</div>
		</div>

		<div id="jointoday">
			<div id="formbox">
			  <%= link_to "Join now", new_user_registration_path %>
			</div>
		</div>
	</div>

</section>
