<section id="content">
	<div id="presentation">

			  <%= link_to "Sign in", new_user_session_path, :class => "home_button" %>

			  <%= link_to "Join now", new_user_registration_path, :class => "home_button" %>

	</div>

</section>
