

    	<h3>Edit your Recipe !</h3>
      <div id='new_recipe_form'></div> 

      <form accept-charset="UTF-8" action="/recipes" class="new_recipe" id="new_recipe" method="post">

	<div class="left_form">
	  <input name="utf8" type="hidden" value="&#x2713;"/>

      <div class="field_name"><label for="recipe_name">Name :</label></br><input id="recipe_name" name="recipe[name]" size="30" type="text" value="<%= (typeof name_rec == 'undefined')? '' : name_rec%>"/></div>

      <div class="field_ingredients"><label for="recipe_ingredients">Ingredients :</label> </br>
<% if(typeof ingredients != 'undefined' && ingredients.length>0) { for(var i=0; i<ingredients.length; i++) {%>
		  <div class="ingredient">
          	<input id="recipe_ingredients__name" name="recipe[ingredients][][name]" size="30" type="text"> <%= (typeof ingredients[i].name == 'undefined')? "" : ingredients[i].name%> </input> 
		  </div>

		<% }} else {%> 
		  <div class="ingredient">
          	<input id="recipe_ingredients__name" name="recipe[ingredients][][name]" size="30" type="text"/>
		  </div>
		<%}%>
	  </div>

      

	<div class="field_tags"><label for="recipe_tag_list">Tags : </label><input data-pre="[]" id="recipe_tag_list" name="recipe[tag_list]" size="30" type="text" value=""><%= (typeof tag_counts == 'undefined')? "" : tag_counts.join(", ") %></input></div> 

	<div class="field_buttons">
		<input data-disable-with="Submiting..." id="recipe_submit" type="submit" class="_submit"  name="commit" value="Submit"/>
		<div id="recipe_cancel" name="cancel">Cancel</div> 
	</div> 
	</div>

	<div class="field_content"><label for="recipe_content">Recipe</label></br><textarea cols="60" id="recipe_content" name="recipe[content]" rows="20"><%= (typeof name == 'undefined')? "" : content%></textarea></div>
    </form> 


