%head
  %meta(charset="utf-8")
  %meta{:name => "description", :content => "The Magic Kitchen"}

  %title The Magic Kitchen

  - if user_signed_in?
    = stylesheet_link_tag "style2"
  - else
    = stylesheet_link_tag "style"

  = csrf_meta_tag

  = javascript_include_tag :jquery, :defaults, :fullAjax