<header id="up">
 <%= link_to(image_tag("home.png", :alt => "TMK"), root_path) %>
</header>

<nav>
   <ul>
     <li><%= link_to( "Home", root_path)%>
     <li><%= link_to( "What is the Magic Kitchen ?", root_path)%>
     <li><%= link_to( "About", root_path)%>
   </ul>
</nav>
