<header id="up">
 <%= link_to(image_tag("home.png", :alt => "TMK"), root_path) %>
</header>

<nav>
   <ul>
     <li><%= link_to root_path, "Home" %></li>
     <li><%= link_to "What is the Magic Kitchen ?", "/report"%>
     <li><a rel="About" href="about.html">About</a></li>
   </ul>
</nav>