<!DOCTYPE html>
%html
  =render "layouts/head"
  %body
    - if user_signed_in?
      = render "layouts/header_signed_up"
    - else
      = render "layouts/header"

    = yield

    %footer
      %p 
        Copyright ©
        %time{:datetime => "2011-05-20"} 2011 - The Melody